.AddProduct {
	
}

form{
    width: 300px;
    border:1px solid;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 5px 5px 10px;
    text-align: center;

}

form > input, form > button{

    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}
