.AddProduct {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newForm{
    border: 1px dashed black;
    border-radius: 30px;
    padding: 10px;
    margin-top: 30px;
    width: 300px;
}
.newForm > input, button{
    margin: 20px;
}

